/* Style for body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    background-image: url(../static/img/bg.jpg);
    background-attachment: fixed;
}

/* Style for container */
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

/* Style for form container */
form {
    max-width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Style for form labels */
label {
    display: block;
    margin-bottom: 5px;
}

/* Style for form inputs */
input[type="text"],
input[type="date"],
textarea {
    width: calc(100% - 10px);
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="date"]:focus,
textarea:focus {
    border-color: #4CAF50;
}

/* Style for submit button */
button[type="submit"] {
    background-color: #5d27e7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

/* Optional: Style for form headings */
h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Responsive design */
@media screen and (max-width: 600px) {
    .container {
        padding: 15px;
    }

    form {
        padding: 15px;
    }

    input[type="text"],
    input[type="date"],
    textarea {
        width: 100%;
    }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
    form {
        padding: 30px;
    }
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
    form {
        padding: 40px;
    }
}

@media screen and (min-width: 1201px) {
    form {
        padding: 50px;
    }
}
